/entramiento/nbproject/private/
/Carreranumerica/build/
/Carreranumerica/nbproject/private/
/Valores_aleatorios/nbproject/private/
/Valores_aleatorios/build/
/Entrenamiento2/nbproject/private/
/Entrenamiento2/build/
/Entrenamiento2/dist/